  <div class="ui container">
    <div class="ui small menu">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Search
      </a>
      <div *ngIf="!user"class="right menu" >
        <div class="item">
          <div class="ui primary button"
            (click)="onLinkClicked('/register')">Sign up</div>
        </div>
        <div class="item">
          <div class="ui button"
          (click)="onLinkClicked('/login')">Log-in</div>
        </div>
      </div>
      <div *ngIf="user" class="right menu">
        <user-dropdown [user]="user" 
          (logOut)="onLogOut($event)"
          (userProfile)="onUserProfile($event)"></user-dropdown>
      </div>
    </div>
  </div>