<div class="ui container" *ngIf="(user | async)?.$key">
    <div class="ui attached segment">
        <div class="item">
            <div class="content">
                <h2 class="ui header">{{ (user | async )?.username }}</h2>
                <p> Name: {{ (user | async )?.name }}</p>
                <p> Email: {{ (user | async )?.email }}</p>
                <div class="ui primary button" 
                    (click)="followUser()">Follow User</div>
                <div class="ui right floated button"
                    (click)="goBack()">Go back<i class="right chevron icon"></i></div>
            </div>
        </div>
    </div> 
</div>